<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>34</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<style type="text/css">
    .red {color: #f00;}
    .yellow {background: yellow; }
</style>
<script>
var app = angular.module('myapp', []);
app.controller('aaa',function aaa($scope){
    $scope.cars = [
        {brand : "Ford", model : "Mustang", color : "red"},
        {brand : "Fiat", model : "500", color : "white"},
        {brand : "Volvo", model : "XC90", color : "black"}
    ];
    $scope.selectedCar = $scope.cars[0];
    $scope.selectedCar01 = "Ford";
});

// 判断键盘上按下的是哪个键
document.onkeydown = function(e){
    var num = e || window.e;
    console.log(num.keyCode);
    
    var key = String.fromCharCode(event.keyCode); 
    console.log(key);
}

</script>

</head>
<body ng-app = "myapp">
    <div ng-controller = "aaa">
        <!-- 使用对象作为数据源, x 为键(key), y 为值(value): -->
        <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars"></select>
        <p>你选择的是：{{selectedCar.brand}}</p>
        <p>你选择的是：{{selectedCar.color}}</p>
        
        <!-- 用ng-repeat也可以实现下拉菜单，但是输出的只是一个字符串，不能输出这个数组里面的其他内容（或者是我还没有找到实现的方法） -->
        <select ng-model="selectedCar01">
            <option ng-repeat ="x in cars" value="{{x.brand}}">{{x.brand}}</option>
        </select>
        <!-- selectedCar01 取的是value的值 -->
        <p>你选择的是：{{selectedCar01}}</p>
        <hr />

        <!-- 表格显示序号可以在 <td> 中添加 $index:  -->
        <table border="1" cellpadding="0" cellspacing="0" style="width: 500px;text-align: center;">
            <tr ng-repeat="x in cars">
                <td>{{$index + 1}}</td>
                <td>{{x.brand}}</td>
                <td>{{x.model}}</td>
                <td>{{x.color}}</td>
            </tr>
        </table>

        <!-- ng-repeat 指令是通过数组来循环 HTML 代码来创建下拉列表，但 ng-options 指令更适合创建下拉列表，它有以下优势：
使用 ng-options 的选项的一个对象， ng-repeat 是一个字符串。 -->
    </div> 
</body>
</html>